---
import type { EducationContent } from '@/types';
import { getEducation } from '@/utils/content-loader';
import IconText from '../common/IconText.astro';
import Calendar from '../icons/regular/Calendar.astro';
import Certification from '../icons/regular/Certification.astro';
import Company from '../icons/regular/Company.astro';
import Diploma from '../icons/regular/Diploma.astro';

interface EducationType {
  icon: string;
  alt: string;
}

const educationTypeMap: Record<string, EducationType> = {
  certification: {
    icon: '/icons/certification.svg',
    alt: 'certification',
  },
  diploma: {
    icon: '/icons/diploma.svg',
    alt: 'diploma',
  },
};

const content: EducationContent[] = await getEducation();
---

<div class="grid grid-cols-1 gap-5 ms:grid-cols-2">
  {
    content.map((education: EducationContent) => {
      return (
        <div class="rounded-2xl border border-white/5 bg-white/5 p-5">
          <IconText
            Icon={Calendar}
            text={education.date}
            iconClass="text-secondary"
            iconSize="4"
            textClass="text-sm text-secondary"
          />
          <IconText
            Icon={education.type === 'certification' ? Certification : Diploma}
            text={education.category}
            iconClass="text-accent"
            iconSize="4"
            textClass="text-accent"
          />
          <div>
            <span class="text-lg font-semibold">{education.title}</span>
          </div>
          <IconText
            Icon={Company}
            text={education.institution}
            iconClass="text-secondary"
            iconSize="4"
            textClass="text-secondary"
          />
        </div>
      );
    })
  }
</div>
