---
import type { EducationContent } from '@/types';
import { getEducation } from '@/utils/content-loader';

interface EducationType {
  icon: string;
  alt: string;
}

const educationTypeMap: Record<string, EducationType> = {
  certification: {
    icon: '/icons/certification.svg',
    alt: 'certification',
  },
  diploma: {
    icon: '/icons/diploma.svg',
    alt: 'diploma',
  },
};

const content: EducationContent[] = await getEducation();
---

<div class="custom:grid-cols-4 grid grid-cols-2 gap-5">
  {
    content.map((education: EducationContent, index: number) => {
      const isSecondHalf = index >= Math.ceil(content.length / 2);
      const justifyClass = isSecondHalf ? 'custom:justify-end' : 'justify-start';

      return (
        <div class={`p-5 ${justifyClass}`}>
          <div class={`mb-2 flex flex-row items-center ${justifyClass}`}>
            <img
              src={educationTypeMap[education.type].icon}
              class="size-4"
              alt={educationTypeMap[education.type].alt}
            />
            <p class="pl-2 pt-1 text-sm text-secondary">{education.date}</p>
          </div>
          <div class={`flex ${justifyClass}`}>
            <span class="font-semibold text-secondary">{education.category}</span>
          </div>
          <div class={`flex ${justifyClass}`}>
            <span class="font-semibold">{education.title}</span>
          </div>
          <div class={`flex ${justifyClass}`}>
            <span class="text-secondary">{education.institution}</span>
          </div>
        </div>
      );
    })
  }
</div>
