---
import type { HeroContent, SocialLinksContent } from '@/types';
import { getHeroContent, getSocialLinks } from '@/utils/content-loader';
import SocialIconLink from '../common/SocialIconLink.astro';
import EmailIcon from '../icons/regular/Email.astro';
import GithubIcon from '../icons/regular/Github.astro';
import LinkedinIcon from '../icons/regular/Linkedin.astro';

const { Bio, ...content }: HeroContent = await getHeroContent();
const socialLinks: SocialLinksContent = await getSocialLinks();

const socialIconLinkClass =
  'size-8 text-accent hover:trasnform transform transition-transform duration-500 hover:scale-110 hover:text-accent-light cursor-pointer';
---

<div class="flex w-full flex-col-reverse items-center md:flex-row">
  <div class="flex w-full flex-col justify-center space-y-5 md:w-1/2">
    <h1 class="pt-10 text-center text-4xl text-accent md:pt-0 md:text-left">{content.name}</h1>
    <span class="text-center text-2xl font-semibold md:text-left">{content.title}</span>
    <div class="text-lg text-secondary"><Bio /></div>
    <div class="flex flex-row justify-center space-x-10 md:justify-start">
      <SocialIconLink href={socialLinks.linkedin} class={socialIconLinkClass}>
        <LinkedinIcon class="size-8" />
      </SocialIconLink>
      <SocialIconLink href={socialLinks.github} class={socialIconLinkClass}>
        <GithubIcon class="size-8" />
      </SocialIconLink>
      <SocialIconLink href={socialLinks.email} class={socialIconLinkClass}><EmailIcon class="size-8" /></SocialIconLink>
    </div>
  </div>
  <div class="w-full md:w-1/2">
    <div class="flex h-full items-center justify-center md:justify-end">
      <div class="size-48 overflow-hidden rounded-full border border-accent/10 bg-white/10 md:size-64">
        <img class="image-shadow h-full w-full" src={content.image} alt={content.name} />
      </div>
    </div>
  </div>
</div>

<style>
  .image-shadow {
    filter: drop-shadow(-10px -2px 5px #000) contrast(110%);
  }
</style>
