---
import BackButton from '@/components/common/BackButton.astro';
import IconText from '@/components/common/IconText.astro';
import SectionContainer from '@/components/common/SectionContainer.astro';
import ArrowBack from '@/components/icons/regular/ArrowBack.astro';
import ArrowLeft from '@/components/icons/regular/ArrowLeft.astro';
import Company from '@/components/icons/regular/Company.astro';
import Responsibilities from '@/components/icons/regular/Responsibilities.astro';
import Stack from '@/components/icons/regular/Stack.astro';
import Calendar from '@/components/icons/solid/Calendar.astro';
import Job from '@/components/icons/solid/Job.astro';
import Location from '@/components/icons/solid/Location.astro';
import Layout from '@/layouts/Layout.astro';
import type { ExperienceContent } from '@/types';
import { getExperiencePaths } from '@/utils/page-experience';

interface Props {
  experience: ExperienceContent;
}

export const getStaticPaths = getExperiencePaths;
const { experience } = Astro.props;
const { date, location, title, company, descriptionLong, stackLong, ResponsibilitiesComponent, id } = experience;
---

<Layout title={title} description={descriptionLong}>
  <SectionContainer>
    <div class="space-y-16 rounded-2xl bg-white/5 p-5" sm:p-10>
      <BackButton>
        <ArrowLeft class="size-8" />
      </BackButton>

      <section>
        <IconText Icon={Calendar} text={date} iconClass="text-secondary size-4" textClass="text-secondary text-sm" />
        <IconText
          Icon={Location}
          text={location}
          iconClass="text-secondary size-4"
          textClass="text-secondary text-sm"
        />
        <IconText
          Icon={Job}
          text={title}
          iconClass="text-primary size-4"
          textClass="text-lg sm:text-2xl font-semibold"
          textTransitionName={`${id}-${title}-${date}`}
        />
        <IconText
          Icon={Company}
          text={company}
          iconClass="text-accent size-4"
          textClass="text-accent text-lg sm:text-xl"
        />
      </section>

      <section>
        <div class="text-pretty text-lg text-secondary"><p>{descriptionLong}</p></div>
      </section>

      <section>
        <IconText
          class="pb-10"
          Icon={Stack}
          text="Stack"
          iconClass="text-primary size-5"
          textClass="text-xl font-semibold"
        />
        <div class="flex flex-wrap gap-2">
          {stackLong.map((item) => <span class="rounded-full bg-accent px-4 py-1.5 text-sm">{item}</span>)}
        </div>
      </section>

      <section>
        <IconText
          class="pb-10"
          Icon={Responsibilities}
          text="Responsibilities"
          iconClass="text-primary size-5"
          textClass="text-xl font-semibold"
        />
        <div class="text-pretty text-lg text-secondary">
          <ResponsibilitiesComponent />
        </div>
      </section>

      <div class="flex justify-center">
        <BackButton class="text-4xl">
          <ArrowBack class="size-8" />
        </BackButton>
      </div>
    </div>
  </SectionContainer>
</Layout>
