---
import IconText from '@/components/common/IconText.astro';
import SectionContainer from '@/components/common/SectionContainer.astro';
import Calendar from '@/components/icons/regular/Calendar.astro';
import Company from '@/components/icons/regular/Company.astro';
import Job from '@/components/icons/regular/Job.astro';
import Responsibilities from '@/components/icons/regular/responsibilities.astro';
import Layout from '@/layouts/Layout.astro';
import Stack from '@/components/icons/regular/Stack.astro';
import { getCollection, render } from 'astro:content';

export const getStaticPaths = async () => {
  const collection = await getCollection('experience');
  return collection.map((experience) => ({
    params: { id: experience.slug },
    props: { experience },
  }));
};

const { experience } = Astro.props;
const { data } = experience;
const { date, titleLong, company, descriptionLong, stackLong } = data;
const { Content } = await render(experience);
---

<Layout title="Hello" description="Descfipt">
  <SectionContainer>
    <div class="space-y-16 rounded-2xl bg-white/5 p-10">
      <div>
        <button
          onclick="window.history.back()"
          class="text-3xl text-accent duration-500 hover:scale-110 hover:text-accent-light"
        >
          ←
        </button>
      </div>
      <section>
        <IconText
          Icon={Calendar}
          text={date}
          iconClass="text-secondary"
          iconSize="5"
          textClass="text-secondary text-sm"
        />
        <IconText
          Icon={Job}
          text={titleLong}
          iconClass="text-primary"
          iconSize="5"
          textClass="text-2xl font-semibold"
        />
        <IconText Icon={Company} text={company} iconClass="text-accent" iconSize="5" textClass="text-accent text-xl" />
      </section>

      <section>
        <div class="text-lg text-secondary"><p>{descriptionLong}</p></div>
      </section>

      <section>
        <IconText
          class="pb-10"
          Icon={Stack}
          text="Stack"
          iconClass="text-primary"
          iconSize="6"
          textClass="text-xl font-semibold"
        />
        <div class="flex flex-wrap gap-2">
          {stackLong.map((item) => <span class="rounded-full bg-accent px-4 py-1.5 text-sm">{item}</span>)}
        </div>
      </section>

      <section>
        <IconText
          class="pb-10"
          Icon={Responsibilities}
          text="Responsibilities"
          iconClass="text-primary"
          iconSize="6"
          textClass="text-xl font-semibold"
        />
        <div class="text-lg text-secondary">
          <Content />
        </div>
      </section>
      <div class="flex justify-center">
        <button
          onclick="window.history.back()"
          class="text-4xl text-accent duration-500 hover:scale-110 hover:text-accent-light">☑︎</button
        >
      </div>
    </div>
  </SectionContainer>
</Layout>
