---
import type { SocialLinksContent } from '@/types';
import { getSocialLinks } from '@/utils/content-loader';
import IconText from '../common/IconText.astro';
import SocialIconLink from '../common/SocialIconLink.astro';
import Email from '../icons/solid/Email.astro';
import Github from '../icons/solid/Github.astro';
import Linkedin from '../icons/solid/Linkedin.astro';

const { github, linkedin, email }: SocialLinksContent = await getSocialLinks();

const socialIconLinkClass = 'text-4xl hover:text-accent cursor-pointer duration-500 hover:scale-110';

const socialLinks = [
  { href: `https://www.${github}`, Icon: Github, text: github },
  { href: `https://www.${linkedin}`, Icon: Linkedin, text: linkedin },
  { href: `mailto:${email}`, Icon: Email, text: email },
];
---

<div class="flex flex-row justify-between">
  {
    socialLinks.map(({ href, Icon, text }) => (
      <SocialIconLink href={href} class={socialIconLinkClass}>
        <IconText Icon={Icon} text={text} iconSize="10" textClass="text-sm hidden sm:block" orientation="column" />
      </SocialIconLink>
    ))
  }
</div>
