---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';

interface Props {
  Icon: AstroComponentFactory;
  text: string;
  iconClass?: string;
  iconSize?: string;
  textClass?: string;
  class?: string;
  textTransitionName?: string;
  orientation?: 'row' | 'column';
}

const {
  Icon,
  text,
  iconClass = '',
  iconSize = 4,
  textClass = '',
  class: className = '',
  textTransitionName = undefined,
  orientation = 'row',
} = Astro.props;
---

<div class={`flex flex-${orientation === 'row' ? 'row' : 'col'} items-center space-x-2 ${className}`}>
  <div class={`${iconClass}`}>
    <Icon class={`size-${iconSize}`} />
  </div>
  {
    textTransitionName ? (
      <span class={`pt-1 ${textClass}`} transition:name={textTransitionName}>
        {text}
      </span>
    ) : (
      <span class={`pt-1 ${textClass}`}>{text}</span>
    )
  }
</div>
