---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';

interface Props {
  Icon: AstroComponentFactory;
  text: string;
  iconClass?: string;
  textClass?: string;
  class?: string;
  textTransitionName?: string;
  orientation?: 'row' | 'column';
}

const {
  Icon,
  text,
  iconClass = '',
  textClass = '',
  class: className = '',
  textTransitionName = undefined,
  orientation = 'row',
} = Astro.props;

const orientationClass = orientation === 'row' ? 'flex-row' : 'flex-col';
---

<div class={`flex ${orientationClass} items-center space-x-2 ${className}`}>
  <div>
    <Icon class={iconClass} />
  </div>
  {
    textTransitionName ? (
      <span class={`pt-1 ${textClass}`} transition:name={textTransitionName}>
        {text}
      </span>
    ) : (
      <span class={`pt-1 ${textClass}`}>{text}</span>
    )
  }
</div>
