---
import { getSiteMetaData } from '@/utils/content-loader';
import '@fontsource-variable/league-spartan';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const siteMetaData = await getSiteMetaData();
---

<!doctype html>
<html lang={siteMetaData.defaultLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content={siteMetaData.author} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={siteMetaData.domain} />
    <title>{title}</title>
  </head>
  <body>
    <!-- TODO : make the gradient occupy the whole screen -->
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_70%_at_50%_-20%,rgba(1,150,190,.6),rgba(1,255,255,0))]"
    >
    </div>
    <slot />
  </body>
</html>
<!-- TODO : add light mode -->
<style is:global>
  :root {
    color-scheme: dark;
  }
  html {
    font-family: 'League Spartan Variable', system-ui, sans-serif;
    background: #0a0a0a;
    scroll-behavior: smooth;
  }
  ul {
    list-style-type: disc;
    margin-left: 0.6rem;
  }
  li {
    margin-bottom: 2rem;
    padding-left: 0.35rem;
  }
  li::marker {
    content: '✔︎';
    color: #0296be;
    font-size: 0.6rem;
  }
</style>
