---
import { getSiteMetaData } from '@/utils/content-loader';
import '@fontsource-variable/league-spartan';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const siteMetaData = await getSiteMetaData();
---

<!doctype html>
<html lang={siteMetaData.defaultLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content={siteMetaData.author} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={siteMetaData.domain} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <div
      class="bg-neutral-00 absolute top-0 z-[-2] h-screen w-screen bg-[radial-gradient(ellipse_80%_70%_at_50%_-20%,rgba(1,150,190,.6),rgba(1,255,255,0))]"
    >
    </div>
    <div
      class="fixed top-0 z-[-3] h-screen w-screen bg-[#0a0a0a] bg-[radial-gradient(#ffffff15_1px,#0a0a0a_1px)] bg-[size:40px_40px]"
    >
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }
  html {
    font-family: 'League Spartan Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
</style>
